<!-- <p>
    content works!
</p>

{{id}}

<div *ngFor="let starship of starships">
    <p>{{starship.model}}</p>
</div> -->
<div *ngIf="myFilm">
    <h1>{{myFilm.title}}</h1>
</div>
<div *ngFor="let starship of starships">
    <!-- <h2><a href="{{starship.url}}" target=”_blank”>{{starship.name}}</a> </h2>
    <p>Modello: {{starship.model}}</p>
    <p>Lunghezza: {{starship.length}}</p>
    <p>Passeggeri: {{starship.passengers}}</p>
    <p>Costo: {{starship.cost_in_credits}}</p>
    <p>Classe: {{starship.starship_class}}</p> -->
    <app-starship [starship]="starship"></app-starship>
</div>