<app-navbar (search)="getTerm($event)"></app-navbar>
<div class="btn-group inline">
    <button (click)="loadStarships()" class="btn btn-info">Navicelle</button>
    <button (click)="loadPlanet()" class="btn-success btn ">Pianeti</button>
    <button (click)="loadCharacter()" class="btn btn-danger">Personaggi</button>
</div>

<div *ngIf="myFilm" class="row col-md-12">
    <h1>{{myFilm.title}}</h1>
</div>
<div *ngIf="!myFilm">
    <h1>Selezionare un film</h1>
</div>

<div *ngIf="star" class="row card-deck">
    <div class="row container-fluid">
        <div class="card-group ">
            <div *ngFor="let starship of starships| starshipFilter:termForFilter">
                <app-starship [starship]="starship" class="col-md-3"></app-starship>
            </div>
        </div>
    </div>
</div>
<div *ngIf="pla" class="row card-deck">
    <div class="row container-fluid">
        <div class="card-group ">
            <div *ngFor="let planet of planets | planetFilter:termForFilter">
                <app-planet [planet]="planet" class="col-md-3 "></app-planet>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cha" class="row card-deck">
    <div class="row container-fluid">
        <div class="card-group ">
            <div *ngFor="let character of characters | characterFilter:termForFilter">
                <app-character [character]="character" class="col-sm-4 py-2 card-set"></app-character>
            </div>
        </div>
    </div>
</div>